myCustomer.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="customer" type="customerType" />

    <xs:complexType name="customerType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="age" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>